<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
<table>
  <thead> 
  <tr> 
    <th scope='col'> Number of Unique Items</th>
    <th scope='col'> Number of Categories </th> 
  </tr> 
  <tr> 
    <td> <%= @unique_inventory %> </td> 
    <td> <%= @category_count %> </td> 
  </tr> 
</table 
