// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}


nav.navbar {
  display: flex;

  div.container {
    width: 100%;
    display: flex; 
    
    .name {
      color: blue; 
      display: flex;
  
    }
  }


}